name: Build

on:
  push:
  pull_request:

jobs:
  build:
    container: ghcr.io/yanis002/st-build:main

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [eur]
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Git config
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Prepare
        run: |
          mv /extract/* ./extract
          mv /tools/armips/* ./tools/armips

      - name: Build
        run: |
          COMPARE=0 make init
          make
